<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxust.qq.superquestionlib.dao.mapper.admin.EsUserTasksMapper">

    <insert id="createUserTasks" useGeneratedKeys="true" keyProperty="id" parameterType="com.jxust.qq.superquestionlib.dto.admin.EsUserTasks">
      insert into sq_user_tasks(user_name,question_lib_id,mark,question_numbers,create_time
      ,end_time,schedule_time,expired,has_complete_numbers)
                            value(#{userTasks.userName},#{userTasks.questionLibId},
                            #{userTasks.mark},#{userTasks.questionNumbers},
                            #{userTasks.createTime},#{userTasks.endTime}
                            ,#{userTasks.scheduleTime},#{userTasks.expired},
                            #{userTasks.hasCompleteNumbers})
    </insert>
    <update id="updateUserTasks">
        update sq_user_tasks set user_name=#{userTasks.userName},question_lib_id=#{userTasks.questionLibId},
                            mark=#{userTasks.mark},question_numbers=#{userTasks.questionNumbers},
                            create_time=#{userTasks.createTime},end_time=#{userTasks.endTime}
                            ,schedule_time=#{userTasks.scheduleTime},expired=#{userTasks.expired},
                            has_complete_numbers=#{userTasks.hasCompleteNumbers}
        where id=#{userTasks.id}
    </update>
    <delete id="deleteByUserName">
        delete from sq_user_tasks where user_name=#{userName}
    </delete>
    <delete id="deleteById">
        delete from sq_user_tasks where id=#{id}
    </delete>
</mapper>