<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxust.qq.superquestionlib.dao.mapper.admin.EsUserTasksMapper">

    <insert id="createQuestionLib" useGeneratedKeys="true" keyProperty="id" parameterType="com.jxust.qq.superquestionlib.dto.admin.EsUserPaper">
      insert into sq_question_lib(question_lib_id,question_lib_level,question_lib_name,question_lib_private,question_lib_create_time
      ,question_lib_tag_id,question_lib_mark,question_lib_url)
                            value(#{questionLib.question_lib_id},#{questionLib.question_lib_level},#{questionLib.question_lib_name},#{questionLib.question_lib_private},#{questionLib.question_lib_create_time
      },#{questionLib.question_lib_tag_id},#{questionLib.question_lib_mark},#{questionLib.question_lib_url})
    </insert>
    <update id="updateQuestionLib">
        update sq_user_tasks set user_name=#{userTasks.userName},question_lib_id=#{userTasks.questionLibId},
                            mark=#{userTasks.mark},question_numbers=#{userTasks.questionNumbers},
                            create_time=#{userTasks.creatTime},end_time=#{userTasks.endTime}
                            ,schedule_time=#{userTasks.scheduleTime},expired=#{userTasks.expired},
                            has_complete_numbers=#{userTasks.hasCompleteNumbers}
        where id=#{userTasks.id}
    </update>
    <delete id="deleteByUserName">
        delete from sq_user_tasks where user_name=#{userName}
    </delete>
    <delete id="deleteById">
        delete from sq_user_tasks where id=#{id}
    </delete>
</mapper>