<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxust.qq.superquestionlib.dao.mapper.admin.EsUserQuestionLibMapper">
    <update id="updateUserQuestionLib">
        update sq_user_question_lib set
        user_name=#{userQuestionLib.userName},private_name=#{userQuestionLib.privateName},question_lib_id=#{userQuestionLib.questionLibId},question_lib_importance=#{userQuestionLib.questionLibImportance}
        where id=#{userQuestionLib.id}
    </update>
    <delete id="deleteById">
        delete from sq_user_question_lib where id=#{id}
    </delete>
</mapper>