<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxust.qq.superquestionlib.dao.mapper.QuestionLibMapper">

    <sql id="base_column">
        question_lib_id, question_lib_level, question_lib_name,
        question_lib_create_time, question_lib_tag_id, question_lib_mark, question_lib_url
    </sql>
    <insert id="insertQuestionLib" useGeneratedKeys="true" keyProperty="questionLibId">
        insert into sq_question_lib(question_lib_level, question_lib_name,question_lib_create_time,
                                    question_lib_tag_id, question_lib_mark, question_lib_url, question_lib_private)
        value (#{lib.questionLibLevel}, #{lib.questionLibName},
        #{lib.questionLibCreateTime}, #{lib.questionLibTagId}, #{lib.questionLibMark}, #{lib.questionLibUrl}, #{lib.hasPrivate});
    </insert>

    <delete id="deleteLibById">
        delete from sq_question_lib
        where question_lib_id = #{libId};
    </delete>
    <select id="selectQuestionLibById" resultType="com.jxust.qq.superquestionlib.dto.QuestionLib">
        select <include refid="base_column"/>
        from sq_question_lib where sq_question_lib.question_lib_id = #{id}
    </select>
    <select id="selectPublicQuestionLib" resultType="java.lang.Integer">
        select * from sq_question_lib order by question_lib_id
    </select>
    <select id="selectPublicLibByPage" resultMap="questionLibVo">
        select
               sq_lib.question_lib_id,
               sq_lib.question_lib_name,
               sq_user_lib.user_name,
               sq_tag.lib_tag_name,
               sq_tag.tag_img_url
        from sq_question_lib sq_lib
        left join sq_user_question_lib sq_user_lib on sq_user_lib.question_lib_id = sq_lib.question_lib_id
        left join sq_lib_tag sq_tag on sq_lib.question_lib_tag_id = sq_tag.lib_tag_id
        where
              sq_lib.question_lib_private = 0 and sq_lib.question_lib_id > #{total}
              <if test="typeId != null">
                 and sq_lib.question_lib_tag_id = #{typeId}
              </if>
        order by sq_lib.question_lib_id limit #{limit}
    </select>

    <select id="selectLibTypes" resultType="java.lang.Integer">
        select
            sq_question.question_type_id
        from sq_question
        where question_lib_id = #{id}
        group by question_type_id
    </select>

    <select id="selectUserName" resultType="java.lang.String">
        select
               suqh.user_name
        from sq_question_lib lib
        left join
            sq_user_question_lib suqh on lib.question_lib_id = suqh.question_lib_id
        where lib.question_lib_id = #{libId}
    </select>

    <resultMap id="questionLibVo" type="com.jxust.qq.superquestionlib.vo.QuestionLibVO">
        <result column="question_lib_id" property="libId"/>
        <result column="question_lib_name" property="libName"/>
        <result column="user_name" property="username"/>
        <result column="lib_tag_name" property="typeName"/>
        <result column="tag_img_url" property="tagImgUrl"/>
    </resultMap>
</mapper>